<p>
  <strong>Text:</strong>
  <%= @choice.text %>
</p>

<p>
  <strong>Question:</strong>
  <%= @choice.question_id %>
</p>

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
